<ion-view view-title="categories">  
<ion-content class="category-list">
<div class="row">		
		<div class="col col-50 children ">
                <a href="#/app/subcat">
                    <center>
					<div class="icon category-tile">
                        <img class="icon-img"src="img/child.png">
                    </div>
                    <span class="cat-name">CHILDREN</span></center>
                </a>
            </div>    
            <div class="col col-50 women">
                <a href="#">
                    <center><div class="icon  category-tile">  
					<img class="icon-img" src="img/women-icon.png">
                       
                    </div>
					 <span class="cat-name">WOMEN</span>
					
					</center>
                </a>
            </div>
</div>
<div class="row category-list">
            <div class=" col col-50 aged">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img class="icon-img" src="img/aged-icon.png">
                        
                    </div>
					<span class="cat-name">AGED</span>
					</center>
                </a>
            </div>
            <div class="col col-50 cancer">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img class="icon-img" src="img/cancer-icon.png"> 
                    </div>
					<span class="cat-name">CANCER PATIENTS</span>
					</center>
                </a>
            </div> 
</div>
<div class="row category-list">			
            <div class=" col col-50 school ">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img  class="icon-img" src="img/child.png">
                    </div>
					  <span class="cat-name">SCHOOLS</span>
					  </center>
                </a>
            </div>
			 <div class=" col col-50 school xx">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img class="icon-img" src="img/child.png">
                        
                    </div>
					<span class="cat-name">ANIMAL WELFARE</span>
					</center>
                </a>
            </div>
</div>
<div class="row category-list">
            <div class=" col col-50 aged">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img class="icon-img" src="img/aged-icon.png">
                        
                    </div>
					<span class="cat-name">AGED</span>
					</center>
                </a>
            </div>
            <div class="col col-50 cancer">
                <a href="#">
                    <center><div class="icon category-tile">
                        <img class="icon-img" src="img/cancer-icon.png">
                       
                    </div>
					 <span class="cat-name">CANCER PATIENTS</span>
					</center>
                </a>
            </div>    
</div>			
    </ion-content>
</ion-view>
