<ion-view title="Thank You!">
	<ion-content>
	<div class="cards">
		<center><h2 class="padding-top">An act of random kindness</h2></center>
	
		<h4 class="padding-left padding-top">Select an Amount</h4>
			<div class="row">
			
			<div class="col-25">
				<a href="">
					<button class="button button-positive button-full button-clear">₱ 2500</button>
				</a>
			</div>
			<div class="col-25">
				<a href="">
					<button class="button button-positive button-full button-clear">₱ 1500</button>
				</a>
			</div>
			<div class="col-25">
				<a href="">
					<button class="button button-positive button-full button-clear">₱ 800</button>
				</a>
			</div>
			<div class="col-25">
				<a href="">
					<button class="button button-positive button-full button-clear">Others</button>
				</a>
			</div>
			</div>	
			
			
			<div class="row">
				
				  <div class="item item-input-inset"> 
					<label class="item-input-wrapper col-25 col-center">
					  <input type="text" value="Peso (PH)" disabled>
					</label>
					<label class="item-input-wrapper col-75 col-center">
					  <input type="text" placeholder="Amount" disabled>
					</label>
				  </div>
			</div>
			<div class="list">
				<h4>Make this donation: </h4>
				
					  <label class="item item-radio">
						<input type="radio" name="group">
						<div class="radio-content">
							<div class="item-content">
							  Once
							</div>
							<i class="radio-icon ion-checkmark positive"></i>
						</div>
					  </label>
					  
					  
					  <label class="item item-radio">
						<input type="radio" name="group">
						<div class="radio-content">
							<div class="item-content">
							  Monthly
							</div>
							<i class="radio-icon ion-checkmark positive"></i>
						</div>
					  </label>
			</div>
			
		<button class="button button-full button-balanced"><strong>CONFIRM DONATION</strong></button>
	</div>


	</ion-content>
</ion-view>