
<ion-view view-title="profile" >
  
  <ion-content ion-sticky>

			 
   
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
          <h3 id="profile-name">Max Tennyson</h3>
          <span id="profile-description">User</span>
          <span id="profile-description">User</span>
          <span id="profile-description">User</span>
          <span id="profile-description">User</span>
        </div>      
      </div>

			<div  class="item item-divider tabs tabs-striped tabs-secondary tabs-icon-left sticky-menu" >
				<a ng-click="showAbout()"class="tab-item sticky-menu-item" ng-class="{'tab-active' : activeInit == 1}">				
				 About
				</a>
				<a ng-click="showHistory()"class="tab-item sticky-menu-item"  ng-class="{'tab-active' : active == 2}" >				  
				 History
				</a>
				<a ng-click="showBookmark()" class="tab-item sticky-menu-item"  ng-class="{'tab-active' : active == 3}" >
				 Bookmarks
				</a>				
			</div>
		
		<section ng-hide="about">
		
		</section>
		
		
		<section ng-hide="history">
			<ion-list>
			  <ion-item>
				<img class="post-profile-image">
				<div class="post-time"></div>
				<div class="post-options">
				  <i class="icon-reply"></i>
				  <i class="icon-shuffle"></i>
				</div>
				
			  </ion-item>
			   <ion-item>
				<img class="post-profile-image">				
				<div class="post-time"></div>
				<div class="post-options">
				  <i class="icon-reply"></i>
				  <i class="icon-shuffle"></i>
				</div>
				
			  </ion-item>
			   <ion-item>
				<img class="post-profile-image">				
				<div class="post-time"></div>
				<div class="post-options">
				  <i class="icon-reply"></i>
				  <i class="icon-shuffle"></i>
				</div>
				
			  </ion-item>
			</ion-list>
		</section>

		<section ng-hide="Bookmark">
		<ion-list>
			<ion-item ng-hide="hasBookmark"> No Bookmarks</ion-item>

		  <ion-item class="item-read-animate item-avatar item-icon-right" type="item-text-wrap" ng-show="hasBookmark" ng-repeat="bookmark in bookmarks" ng-click="gotoStoryPost(bookmark.id)">
			<img ng-src="{{bookmark.img}}">
			<h2></h2>
			<p class="text-muted">By: <span ng-bind="{{bookmark.charity}}"></span></p>
			<p><i class="ion-eye dark"></i> {{bookmark.views}} &nbsp; &nbsp;&nbsp;
			<i class="ion-heart assertive" ></i> {{bookmark.loves}}</p>
		  </ion-item>
			</ion-list>
				
		</section>
	</div>
  </ion-content>
</ion-view>