<ion-view view-title="story-post-id">
	<ion-content >
		 <div class="cards">
			<div class="item item-image">
				<img src="img/post1.jpg" class="story-banner"></img>
			</div>
			<div class="padding-left padding-right">
			<h2>Everyone Has a Story in Life</h2>
				<p class="text-muted">Posted by: House of Hope, <datetime> 9:00 AM GMT+8 12/19/15 </datetime></p>
				
				<p class="justify text-xl">
				
				A 24 year old boy seeing out from the train’s window shouted…

				“Dad, look the trees are going behind!”

				Dad smiled and a young couple sitting nearby, looked at the 24 year old’s childish behavior with pity, suddenly he again exclaimed…

				“Dad, look the clouds are running with us!”

				The couple couldn’t resist and said to the old man…

				“Why don’t you take your son to a good doctor?”The old man smiled and said…“I did and we are just coming from the hospital, my son was blind from birth, he just got his eyes today.

				Every single person on the planet has a story. Don’t judge people before you truly know them. The truth might surprise you.</p>
			</div>
		</div>
		
		<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-heart"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share-alt"></i>
      Share
    </a>
  </div>
	</ion-content>
</ion-view>