<ion-view view-title="story-post-id">
	<ion-content >
		 <div class="cards">
			<div class="item item-image">
				<img src="img/post1.jpg" class="story-banner"></img>
			</div>
			<div class="padding-left padding-right">
			<h2 ng-bind="story.title"></h2>
				<p class="text-muted">Posted by: {{story.charity}}, <datetime> {{story.datetime}} </datetime></p>
				
				<p class="justify text-xl">
					{{story.content}}
				</p>
			</div>
		</div>
		
		<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-heart"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-share-alt"></i>
      Share
    </a>
  </div>
	</ion-content>
</ion-view>