<ion-view view-title="stories">
  <ion-content ion-sticky>
				
  <div  class="item item-divider tabs tabs-striped tabs-secondary tabs-icon-left sticky-menu-2" >
				<a ng-click="showAbout()"class="tab-item sticky-menu-item tab-active" ng-class="{'tab-active' : activeInit == 1}">				
				 Top
				</a>
				<a ng-click="showHistory()"class="tab-item sticky-menu-item"  ng-class="{'tab-active' : active == 2}" >				  
				 Trending
				</a>
				<a ng-click="showHistory()"class="tab-item sticky-menu-item"  ng-class="{'tab-active' : active == 2}" >				  
				 Fresh
				</a>					
	</div>
		
		<ion-list>
				  <ion-item class="item-read-animate item-avatar item-icon-right" type="item-text-wrap" ng-repeat="story in stories">
					<img ng-src="{{story.img}}">
					<h2 ng-bind="story.title" ng-click="gotoStoryPost(story.id)"></h2>
					<p class="text-muted">By: <span ng-bind="charity[$index]"></span></p>
					<p><i class="ion-eye dark"></i> {{story.views}} &nbsp; &nbsp;&nbsp;
					<i class="ion-heart assertive" ></i> {{story.loves}}</p>
					<i class="ion-chevron-right right-absolute"></i>

					<ion-option-button class="button-calm hot-pink" ng-click="bookmark(story.id)">
					  bookmark &nbsp;<i class="ion-bookmark"></i>
					</ion-option-button>
				  </ion-item>
			</ion-list>
  </ion-content>
  
</ion-view>